extends layout

block content
  h1= Lobby
  if username 
    h2 Welcome #{username} (#{userID})
  li 
      a(href="/") Homepage

  #games-list
    h3 Joinable Games
    ul
      if games.joinable
        each game in games.joinable
          li
          span= game.title
            form(action=`/api/games/${game.id}/join` method="post" target="_blank")
              button Join game

    h3 Active Games
    ul
      if games.active
        each game in games.active
          li
            a(href=`/games/${game.id}` target="_blank")= games.title

    form(action="/api/games/create" method="post")
      label(for="title") Title (optional):
      input#title(type="text" name="title")
      button#create-game.btn.grad-2 Create a new game

  template#message
    span.sender
    span.content
    span.timestamp

  #chat
    #messages
    #send
      input(type="text" id="message-field")

block footer
  script(src="/socket.io/socket.io.js")
  //- script(src="/javascripts/setup.js")
  script(src="/javascripts/chat.js")
  script(src="/javascripts/gameLogic.js")
  script(src="/javascripts/game-management.js")

  